:root {
  --background-color-header: #212e53;
  --text-color-header: #ebaca2;
  --underline-color: #ce6a6b;
  --color-main: #bed3c3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navbar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: var(--background-color-header);
  text-align: flex-start;
}
#navbar li {
  display: inline;
  font-size: 27px;
  font-family: "Playfair Display";
  color: var(--text-color-header);
  text-decoration: none;
  background: linear-gradient(
      0deg,
      var(--underline-color) 0%,
      var(--underline-color) 2px,
      transparent 3px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
  border: none;
  margin: 0 20px;
  transition: 1s;
}
#navbar li:hover {
  animation: underlined 1s both;
}
@keyframes underlined {
  from {
    background-size: 100% 100%;
    background-position: bottom right;
  }
  50% {
    background-size: 0% 100%;
    background-position: bottom right;
  }
  50.01% {
    background-position: bottom left;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom left;
  }
}
#navbar ul {
  margin-top: 30px;
}
body {
  background-color: var(--color-main);
  font-family: Monserrat;
}
main {
  margin-top: 100px;
}
a {
  text-decoration: none;
}
#welcome-section {
  margin: 200px auto;
  text-align: center;
  overflow: hidden;
}
h1 {
  font-size: 45px;
}
.animation-1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#contact-section ul {
  
  list-style-type: none;
  text-align:center;
  justify-content: center;
  align-items: center;
  margin:auto;
  
}
#contact-section li {
  margin: 0 auto;
  font-size: 1.4em;
  display: inline;
  
}
#footer-section {
  width: 100vw;
  height: 100px;
  background-color: var(--background-color-header);
  position: absolute;
  bottom: 0;
}
h1{
    padding:15px; 
}

span{
    display:inline-block;
    text-transform:uppercase;
    animation:bounce 1s ease alternate;
    transition:0.5s;
    position:relative;
    padding:5px;
}
h1 span:hover{
    animation:bounce 1s ease alternate infinite;
    transition:1s;
}
h1 span:nth-child(1){
    animation-delay: 0.2s;
}
h1 span:nth-child(2){
    animation-delay: 0.4s;
}
h1 span:nth-child(3){
    animation-delay: 0.6s
}
h1 span:nth-child(4){
    animation-delay: 0.8s;
}
h1 span:nth-child(5){
    animation-delay:1s;
}
h1 span:nth-child(6){
    animation-delay: 1.2s;
}
@keyframes bounce{
    100%{
        top:-20px;
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 815px) {
}
