/*Paramètres généraux*/

:root {
  --background-color-header: #212e53;
  --text-color-header: #ebaca2;
  --underline-color: #ce6a6b;
  --color-main: #bed3c3;
  --color-section:#4A919E;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background-color: var(--color-main);
    font-family:"Montserrat", Arial;
  }
main {
    margin-top:100px;
  }
a {
    text-decoration: none;
  } 
  html{
    scroll-behavior: smooth;
    font-size:50px;
  }
  .container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction: column;
  }
/*Navbar et son anim*/

#navbar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: var(--background-color-header);
  text-align: flex-start;
  z-index: 2;
  display:flex;
}
#navbar li {
  display: inline-block;
  font-size: 50px;
  font-family: "Playfair Display";
  color: var(--text-color-header);
  text-decoration: none;
  background: linear-gradient(
      0deg,
      var(--underline-color) 0%,
      var(--underline-color) 4px,
      transparent 5px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s, transform 0.3s;
  border: none;
  margin-left: 30px;
  
}
#navbar li:hover {
  animation: underlined 1s both;
}
#navbar ul{ 
  margin-top:15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right:20px;
}
@keyframes underlined {
  from {
    background-size: 100% 100%;
    background-position: bottom right;
    transform: scale(1);
  }
  50% {
    background-size: 0% 100%;
    background-position: bottom right;
  }
  50.01% {
    background-position: bottom left;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom left;
    transform:scale(1.15);
  }
}


/*Presentation*/

#welcome-section {
  margin:auto;
  text-align: center;
  overflow: hidden;
  height:100vh;
  z-index: 1;
}
h1 {
  font-size:1.2rem;
  
}
#welcome-section p{
  font-size:0.8rem;
}

/*Effets de la présentation*/

.animation-3{
    display:inline-block;
    animation:bounce 0.75s ease alternate;
    transition:0.5s;
    position:relative;
}
h1 .animation-3:nth-child(1){
animation-delay: 0.2s;
}
h1 .animation-3:nth-child(2){
animation-delay: 0.4s;
}
h1 .animation-3:nth-child(3){
animation-delay: 0.6s
}
h1 .animation-3:nth-child(4){
animation-delay: 0.8s;
}
h1 .animation-3:nth-child(5){
animation-delay:1s;
}
h1 .animation-3:nth-child(6){
animation-delay: 1.2s;
}
@keyframes bounce{
    0%{
        top:0px;
        transform: rotate(0deg);
    }
    50%{
        top:-20px;
        transform:rotate(180deg);
    }
100%{
    top:0px;
    transform: rotate(360deg);    
}
}

/*Animations paragraphes*/

.animation-1 {
  animation-duration: 3s;
  animation-name: slidein;
}
.animation-2 {
    animation-duration: 5s;
    animation-name: slidein;
  }

@keyframes slidein {
  from {
    margin-left: 300vh;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*Myself section*/

#myself-section{
  text-align: center;
  height:100vh;
  background-color:var(--color-section);
  font-size:0.8rem;
  

}
#myself-section h2{
  font-size:1.2rem;
  margin-bottom:20px;
}
#myself-section p{
  margin:0 50px;
  margin-bottom: 20px;
}

.reveal{
  animation:reveal linear;
  animation-timeline:view();
  animation-range-start: cover 0%;
  animation-range-end: cover 25%;
}

@keyframes reveal{
  from{
    opacity:0;
    transform:scale(0);
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}
/*Projects section*/
#projects-section {
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;      
  flex-direction: column;
  margin-bottom:300px;
}
#projects-section .title-projects{
  font-size:1.2rem;
  margin-bottom:2rem;
  margin-top:2rem;
}
#container-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 220px;
  width: 100%;
  max-width: 1400px;
  height:100%;
  text-align: center;
}
.project-tile {
  aspect-ratio: 1/1; 
  background-color: white;
  border: solid white;      
  max-width: 550px;  
  margin: 0 auto;
  object-fit: cover;
  width:90%;
  transition:1s;
  border-radius:10px;   
}
.project-tile:hover{
  filter:brightness(1.2);
  transform: scale(1.05);
  
  
}
.description{
  display:flex;
  position:absolute;
  font-size:0.5rem;
  margin-top: 0.2rem;
}
.placement{
  position:relative;
}
.title{
  font-size:0.7rem;
}
/*Contact section*/
#contact-section{
  height: 300px;
  background-color:var(--color-section);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#contact-section ul {
  list-style-type: none;
  display:flex;
}
#contact-section li {
  margin:0 30px;
  transition: 0.5s;
}
#contact-section li:hover{
  transform:translateY(-8px);
}
#contact-section p{
  font-size:0.5rem;
}
#contact-section a{
  color:var(--text-color-header);
  font-size: 0.8rem;
}
.fa-brands{
  max-width: 50px;
}

/*Footer section*/

#footer-section {
  height:100px;
  display:flex;
  background-color: var(--background-color-header);
  border-top:solid 1px var(--text-color-header);
  align-items: center;
}

#footer-section p{
  font-size:0.3rem;
  color:var(--text-color-header);
}
/*media query*/

@media only screen and (max-width: 1235px){
  html{
    font-size:45px;
  }
  main{
    margin-top:300px;
  }
  #navbar {
    background-color: var(--background-color-header);
    position: absolute;
    top: 0;
    padding: 0;
    margin: auto;
    width: 100%;
    height:300px;
    border: transparent;
}
#navbar ul{
  display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
#navbar li{
  border-bottom:solid 1px var(--text-color-header);
  margin-top:10px;
}
  .description{
    margin:0 100px;
  }
}
@media only screen and (max-width: 815px) {
  html{
    font-size:45px;
  }

  
}
@media only screen and (max-width: 650px) {
  html{
    font-size:35px;
  }

}